* {
    padding: 0;
    margin: 0;
}

body {
    background-size: cover;
    max-width: 800px;
    margin: auto;
    font-family: sans-serif;
    background-color: #fad7d7;
    margin: 20px;
    text-align: center;
}

.container {
    background: #2d3e3f;
    width: 350px;
    height: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 70px 50px 20px 50px;
}

.fl {
    float: left;
    width: 110px;
    line-height: 35px;
}

.fontLabel {
    color: white;
}

.fr {
    float: right;
}

.clr {
    clear: both;
}

.box {
    width: 360px;
    height: 35px;
    margin-top: 10px;
    font-family: verdana;
    font-size: 12px;
}

.textBox {
    height: 35px;
    width: 190px;
    border: none;
    padding-left: 20px;
}

.terms {
    line-height: 35px;
    text-align: center;
    background: #2d3e3f;
    color: white;
}

.submit {
    border: none;
    color: white;
    width: 110px;
    height: 35px;
    background: #ff6600;
    text-transform: uppercase;
    cursor: pointer;
}

.logo-text {
    font-family: Lucida Calligraphy;
    font-size: 34px;
    margin-top: 10px;
    text-shadow: 5px 5px 5px grey;
    color: white;
}

.logo-text2 {
    font-family: Lucida Calligraphy;
    font-size: 20px;
    margin-top: 10px;
    color: Crimson;
}

.message {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.message.error {
    color: red;
}
